@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Montserrat&family=Poppins:wght@300;500&display=swap');
.nav_ul{
    display: flex;
    list-style-type: none;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    padding:10px 5px;
    font-size: 17px;
}
body{
    background-color: #24252A;

}
.nav_li{
margin:0px 20px;
padding: 5px 10px;

}
.nav_li>a:visited{
color:white;
}
.right{
    margin-left: auto;
}
.rbtn{
    border-radius: 20px;
}
.rbtn:hover{
    background-color: #d34675;

}